@font-face {
  font-family: 'Aqua Grotesque';
  src: url('../fonts/aqua-webfont.woff2') format('woff2'),
  url('../fonts/aqua-webfont.woff') format('woff'),
  url('../fonts/aqua-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('../fonts/glacial-indifference.bold-webfont.woff2') format('woff2'),
  url('../fonts/glacial-indifference.bold-webfont.woff') format('woff'),
  url('../fonts/glacial-indifference.bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Glacial Indifference Regular';
  src: url('../fonts/glacial-indifference.regular-webfont.woff2') format('woff2'),
  url('../fonts/glacial-indifference.regular-webfont.woff') format('woff'),
  url('../fonts/glacial-indifference.regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}